{
    "command": "/usr/bin/agent_ovs --syslog -c /etc/neutron/opflex-agent-ovs.conf -c /etc/neutron/conf.d",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/opflex-agent-ovs.conf",
            "dest": "/etc/neutron/opflex-agent-ovs.conf",
            "owner": "neutron",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/var/lib/opflex-agent-ovs",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/var/lib/neutron/kolla",
            "owner": "neutron:neutron",
            "recurse": true
        }
    ]
}
